body {
  font-family: "Play", sans-serif;
}

h1 {
  color: white;
  position: absolute;
  right: 33%;
  bottom: 25%;
  font-family: "Play", sans-serif;
  font-weight: bold !important;
  font-size: 60px !important;
}

h2 {
  font-family: "Play", sans-serif;
  font-size: 20px !important;
  color: white;
  position: absolute;
  text-align: center;
  right: 29%;
  top: 73%;
}

.logo {
  right: 41%;
  bottom: 39%;
  position: absolute;
  width: 289px;
}

.logos {
  position: relative !important;
  margin-left: 36%;
  margin-top: 13%;
}

.clash,
.call,
.fornite,
.free {
  width: 50px;
  margin-top: 38%;
  margin-right: 50px;
}

.call {
  mix-blend-mode: normal;
  color: #faed78;
}

@keyframes fly {
  100% {
    transform: rotate(1turn) translate(100px) rotate(-1turn);
  }
}

@keyframes flyPlus {
  100% {
    transform: rotate(-1turn) translate(100px) rotate(1turn);
  }
}

@keyframes flyPlusMobile {
  100% {
    transform: rotate(1turn) translate(100px) rotate(-1turn);
  }
}


@keyframes dot {
  25% {
    border-color: transparent;
    background-color: transparent;
  }
  50% {
    border-right-color: transparent;
    background-color: transparent;
  }
  75% {
    border-right-color: transparent;
  }
}

@-webkit-keyframes dot {
  25% {
    border-color: transparent;
    background-color: transparent;
  }
  50% {
    border-right-color: transparent;
    background-color: transparent;
  }
  75% {
    border-right-color: transparent;
  }
}

.dotting {
  animation: dot 4s infinite step-start both;
}

body {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0) !important;
  /* position: absolute; */
  overflow: hidden;
}

.base {
  position: absolute;
  filter: blur(60px);
  opacity: 0.8;
}

.one {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-color: #04004291;
  left: -40px;
  top: -300px;
  z-index: 9;
  animation: fly 12s infinite;
  transform: rotate(30px) translate(90px) rotate(10px);
}

.two {
  width: 100%;
  height: 100%;
  background-color: #076d9685;
  bottom: -30px;
  animation: fly 12s infinite;
  left: -80px;
}

.three {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  bottom: -80px;
  right: -100px;
  background-color: #6421f571;
  animation: flyPlus 10s infinite;
  transform: rotate(0) translate(200px) rotate(0);
}

/* Tablest */
@media (max-width: 767.98px) {
  /* body {
    overflow: auto;
  }

  h2 {
    color: white;
    position: absolute;
    text-align: center;
    right: 37%;
    bottom: 18%;
  } */
}

@media (max-width: 575.98px) { 

  body{
    overflow: hidden;
  }

  .logo {
    right: 28%;
    top: 15%;
    position: absolute;
    width: 200px;
  }

  h1 {
    position: absolute;
    right: 20%;
    top: 53%;
    font-size: 32px !important;
  }
  
  h2 {
    font-size: 20px !important;
    color: white;
    right: 18%;
    top: 59%;
    margin-left: 40px;
  }
  
  .logos {
    position: absolute !important;
    margin-left: 15%;
    margin-top: 80%;
  }

  
  .clash,
  .call,
  .fornite,
  .free {
    width: 50px;
    margin-top: 20%;
    margin-right: 30px;
  }
  
  .call {
    mix-blend-mode: normal;
    color: #faed78;
  }
  
  .dotting {
    animation: dot 4s infinite step-start both;
  }

  .wrapper{
    width: 50%;
  }
  
  .base {
    position: absolute;
    filter: blur(60px);
    opacity: 0.8;
  }
  
  .one {
    left: -40px;
    z-index: 9;
    animation: fly 12s infinite;
    transform: rotate(20px) translate(50px) rotate(0);
  }
  
  .two {
    bottom: -10px;
    animation: fly 12s infinite;
    left: -10px;
  }
  
  .three {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    bottom: -10px;
    right: 0px !important;
    background-color: #6421f571;
    animation: flyPlusMobile 10s infinite;
    transform: rotate(0) translate(30px) rotate(0);
  }
  
}
